<!DOCTYPE html>
<html>
<head>
	<title>RileyDakin</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>
<body>
	<nav class="nav">
		<ul class="nav__list">
			<li class="nav__item"><a class="nav__link" href="/"> <3 </a></li>
			<li class="nav__item"><a class="nav__link" href="/lovestory">Love Story</a></li>
			<li class="nav__item"><a class="nav__link" href="/blog">Blog</a></li>
			<li class="nav__item"><a class="nav__link" href="/ourcrew">Our Crew</a></li>
			<li class="nav__item"><span class="nav__link">Useful Bits</span>
				<ul class="nav__list nav__list--sub">
					<li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="/useful/tna"> Travel & Accomodation </a> </li>
					<li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="/useful/fnd"> Food & Drink </a></li>
					<li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="/useful/otd"> On the Day </a></li>
					<li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="/useful/faq"> FAQ </a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav__list nav__list--rsvp">
			<% if(currentUser){ %>
				<li class="nav__item nav__item--rsvp"><a class="nav__link nav__link--rsvp" href="/rsvp"> View RSVP </a></li>
				<li class="nav__item nav__item--rsvp"><a class="nav__link nav__link--rsvp" href="/logout"> Log Out </a></li>
			<% } else { %>
				<li class="nav__item nav__item--rsvp button"><a class="nav__link nav__link--rsvp" href="/rsvp/new">Log In and RSVP!</a></li>
			<% } %>
		</ul>
	</nav>

