<% include ./partials/header %> 

<form action="/login" method="POST">
    <input type="email" name="username" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login!">
</form>
<a href="/register">Not registered? Sign up here...</a>
    
</div>

<% include ./partials/footer %> 