<% include ./partials/header %> 

<form action="/register" method="POST">
    <input type="email" name="username" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button>Sign Up</button>
</form>
<a href="/login">Already registered? Login here...</a>

<% include ./partials/footer %> 