<% include ./partials/header %> 

<div class="container">

    <form action="/register" method="POST">
        <input type="email" name="username" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button>Sign Up</button>
    </form>
    
    <a href="/login">Already registered? Login here...</a>

</div>


<% include ./partials/footer %> 