<% include ../partials/header %> 

<h1>FAQs</h1>

<nav>
    <ul>
        <li><a href="#question1">Question1</a></li>
        <li><a href="#question2">Question2</a></li>
        <li><a href="#question3">Question3</a></li>
        <li><a href="#question4">Question4</a></li>
        <li><a href="#question5">Question5</a></li>
        <li><a href="#question6">Question6</a></li>
    </ul>
</nav>

<div id="question1">
    <h4>Question1</h4>
    <p>Answer</p>
</div>
<div id="question2">
    <h4>Question2</h4>
    <p>Answer</p>
</div>
<div id="question3">
    <h4>Question3</h4>
    <p>Answer</p>
</div>
<div id="question4">
    <h4>Question4</h4>
    <p>Answer</p>
</div>
<div id="question5">
    <h4>Question5</h4>
    <p>Answer</p>
</div>
<div id="question6">
    <h4>Question6</h4>
    <p>Answer</p>
</div>

<% include ../partials/footer %> 