<% include ../partials/header %> 

<h1>Food & Drink</h1>
<p>Introductory paragraph</p>

<h4>Drinks</h4>
<p>Short paragraph about the bar, what is served and a price list(if possible)</p>

<h4>Food</h4>
<p>Paragraph about day food</p>
<p>Paragraph about evening food</p>
<p>Paragraph about morning after/breakfast possibilities</p>

<h4>Allergy/Special Diet</h4>
<p>Provision from vendors, get in touch if you have concerned.</p>

<% include ../partials/footer %> 