<% include ../partials/header %> 

<h1>On The Day</h1>
<ul>
    <li>12:00 - Event1</li>
    <li>12:00 - Event2</li>
    <li>12:00 - Event3</li>
    <li>12:00 - Event4</li>
    <li>12:00 - Event5</li>
</ul>
<h3>On Arrival</h3>
<p>Arctophily astrophile gerontophilia japanophilia philhippic tobaccophile zoophilia adipiscing felis non nulla sociosqu. Chromophilous entomophilous lithophilous logophile peristerophily scopophilia stigmatophilia thermophilous accumsan duis enim habitasse mauris mollis nisi parturient primis tristique ultricies. Anemophilous entomophilous europhile geophilous hippophile hydrophilous iconophilism limnophilous ophiophilist ornithophilous phytophilous rheophile scripophily slavophile timbrophily zoophilia conubia elit euismod hendrerit himenaeos inceptos magna posuere praesent primis tristique turpis ullamcorper varius.</p>
<h3>Activities/Areas</h3>
<ul>
    <li>Fire pit</li>
    <li>Chill out area</li>
    <li>Lawn Games</li>
    <li>Trampolines</li>
    <li>Dancefloor</li>
</ul>
<h3>Where is everything?</h3>
<img class="map" src="https://images.unsplash.com/photo-1503221043305-f7498f8b7888?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86ea6a8a7670ec95378907cb52c22b83&auto=format&fit=crop&w=900&q=60" alt="Ground plan">

<% include ../partials/footer %> 