<% include ../partials/header %>

<h1>Travel & Accomodation</h1>

<h2>How to get here</h2>
<h3>By Car</h3>
<p>How to get there by car</p>
<p>Parking information</p>
<h3>By public transport</h3>
<p>Info about buses and trains</p>
<h4>Taxis</h4>
<p>Info about local taxi options for travel to and from York and nearby accomodations</p>
<ul>
    <li><a href="#">Taxi1</a> - 01234 567 890</li>
    <li><a href="#">Taxi2</a> - 01234 567 890</li>
    <li><a href="#">Taxi3</a> - 01234 567 890</li>
    <li><a href="#">Taxi4</a> - 01234 567 890</li>
</ul>
<img src="https://images.unsplash.com/photo-1461183479101-6c14cd5299c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=41c081aa78b381fa25168907c764e5e5&auto=format&fit=crop&w=900&q=60" alt="">
<h2>Where to stay</h2>
<p>Paragraph about camping option</p>
<h4>Other places to stay nearby:</h4>
<ul>
<li><a href="#">Hotel1</a></li>
<li><a href="#">Hotel2</a></li>
<li><a href="#">Hotel3</a></li>
<li><a href="#">Hotel4</a></li>
</ul>




<% include ../partials/footer %> 