<% include ../partials/header %>

<h1>Travel & Accomodation</h1>

<h2>How to get here</h2>
<h3>By Car</h3>
<p>How to get there by car</p>
<p>Parking information</p>
<h3>By public transport</h3>
<p>Info about buses and trains</p>
<h4>Taxis</h4>
<p>Info about local taxi options for travel to and from York and nearby accomodations</p>
<ul>
    <li><a href="#">Taxi1</a> - 01234 567 890</li>
    <li><a href="#">Taxi2</a> - 01234 567 890</li>
    <li><a href="#">Taxi3</a> - 01234 567 890</li>
    <li><a href="#">Taxi4</a> - 01234 567 890</li>
</ul>

<div class="map_canvas">
    <iframe id="map_canvas" src="https://maps.google.com/maps?q=54.137603%2C-1.135232&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <a href="https://www.embedgooglemap.net"></a>
</div>

<h2>Where to stay</h2>
<p>Paragraph about camping option</p>
<h4>Other places to stay nearby:</h4>
<ul>
<li><a href="#">Hotel1</a></li>
<li><a href="#">Hotel2</a></li>
<li><a href="#">Hotel3</a></li>
<li><a href="#">Hotel4</a></li>
</ul>

<% include ../partials/footer %> 