<% include ../partials/header %>

<% rsvp.forEach(function(rsvp){ %>
    <% console.log(rsvp.name) %>
    <h4><%= rsvp.name %></h4>
   <p>
       <a href="/rsvp/<%= rsvp._id %>" class="button">More Info</a>
   </p>
<% }); %>

<% include ../partials/footer %> 