<% include ../partials/header %> 

<div>
  <form action="/rsvp" method="POST">
    <div>
      <label>Name</label>
      <div>
        <input type="text" name="name" placeholder="e.g. Alex Smith">
      </div>
    </div>
    
    <div>
      <label>Email</label>
      <div>
        <input type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
      </div>
    </div>
    
    <div>
        <label>Attendance</label>
        <div>
          <select name="attending">
            <option value="Attending">I'll be there!</option>
            <option value="Evening only">Evening Only</option>
            <option value="Not attending">Sorry, I can't make it!</option>
          </select>
        </div>
    </div>
    
    <div>
      <label>Dietary Requirements</label>
      <div>
        <input type="text" name="diet" placeholder="e.g. Gluten Free">
      </div>
    </div>
    
    <div>
      <label>Song Requests</label>
      <div>
        <input type="text" name="song" placeholder="e.g. Beautiful Crazy by Luke Combs">
      </div>
    </div>
    
    <div>
      <input type="submit" value="Send"/></input>
    </div>
  </form>
  <button href="/">I've already RSVP'd*</a>
</div>

<% include ../partials/footer %> 
